.card{
	box-shadow: 0px 0px 12px var(--border);
	border-radius: 8px;
	height: auto !important;
	background-color: var(--form-bg);
}
.fav{
	background-color: var(--background);
}
@media only screen and (max-width: 516px) {
	.fav-col{
		justify-content: center;
	}
  }
.title{
	color: var(--text-primary);
}
.condition{
	color: var(--text-secondary);
}