:root {
  --background: #ffffff;
  --text-primary: #000;
  --text-secondary: #000;
  --accent: #8e05c2;
  --border: #333;
  --form-bg: #fff;
}

[data-theme='true'] {
  --background: #000;
  --text-primary: #fff;
  --text-secondary: #8e05c2;
  --accent: #8e05c2;
  --border: #808080;
  --form-bg: #191919;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  background-color: var(--background);
  color: var(--text-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .8rem;
  transition: all .5s;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 8px;
  background-color: var(--form-bg);
}
.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
h1, h2, h3, h4, h5, h6, p div{
  color: var(--text-primary);
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  margin: 8px 0;
  font-weight: 600;
}

input[type=checkbox]:checked {
  margin: 0;
  padding: 0;
}

.remember p {
  padding-left: 8px;
}
.main{
  height: 100vh;
  background-color: var(--background);
}